/* George D. Sotirov's Personal Home Page Styles
 * Written by George D. Sotirov, gdsotirov@dir.bg
 *
 * Media: handheld
 * Theme: Default
 */

@media handheld {
  a:link { color: blue; }
  a:visited { color: purple; }
  body {
    background-color: white;
    color: black;
    font: normal normal normal 10pt/12pt Arial, Helvetica, sans-serif;
    max-width: 240px; /* TODO: Remove or comment this for production release */
  }
  img { max-width: 100%; }
  h1, h2, h3, h4, h5, h6 { font-weight: bold; }
  h3 { font: normal normal normal 16pt/18pt Arial, Helvetica, sans-serif; }
  h6 { font: normal normal normal 12pt/14pt Arial, Helvetica, sans-serif; }
  p.align-center { text-align: center; }
  p.align-left { text-align: left; }
  p.align-right { text-align: right; }
  p.copyright {
    color: silver;
    text-align: center;
  }
  p.note, p.text { text-indent: 1em; }
  p.text { text-align: justify; }
  .hide_handheld { display: none; }
}
