/* Georgi D. Sotirov's Personal Home Page Styles
 *
 * Copyright 2004-2023 Georgi D. Sotirov <gdsotirov@gmail.com>
 * Conforms to CSS3 Speech Module specification
 * See https://www.w3.org/TR/2018/NOTE-css3-speech-20180605/
 *
 * Media: all
 * Theme: Default
 */

/* Code for this media was partially based on the example in
 * Appendix A. Aural style sheets of CSS21 specification
 * See https://www.w3.org/TR/CSS21/aural.html#sample
 */

@media all {
  a:link {
    voice-family: harry, male;
  }

  a:visited {
    voice-family: betty, female;
  }

  a:active {
    voice-family: betty, female;
    voice-range: high;
    voice-pitch: x-high;
  }

  abbr {
    speak-as: spell-out;
  }

  b {
    voice-pitch: medium;
    voice-range: medium;
    voice-stress: strong;
  }

  dt {
    voice-stress: strong;
  }

  h1, h2, h3, h4, h5, h6 {
    voice-family: paul, male;
    voice-stress: reduced;
  }

  h1 {
    voice-pitch: x-low;
    voice-range: +75%;
  }

  h2 {
    voice-pitch: x-low;
    voice-range: +60%;
  }

  h3 {
    voice-pitch: low;
    voice-range: +45%;
  }

  h4 {
    voice-pitch: medium;
    voice-range: +30%;
  }

  h5 {
    voice-pitch: medium;
    voice-range: +15%;
  }

  h6 {
    voice-pitch: medium;
    voice-range: +5%;
  }

  i {
    voice-pitch: medium;
    voice-range: medium;
    voice-stress: moderate;
  }

  li, dt, dd {
    voice-pitch: medium;
  }

  pre, code, tt {
    voice-pitch: medium;
    voice-range: medium;
    speak-as: literal-punctuation;
    voice-stress: none;
  }

  p.note[lang=en]:after {
    content: "End note";
  }

  p.note[lang=bg]:after {
    content: "Край на бележката";
  }
}
